#container
{
width:1002px;
margin-left:auto;
margin-right:auto;
background: #E5E5E5;
}
#header
{
background-image: url(../imagini/fundal1.jpg);
background-position: center;
}
#header h1
{
text-align: right;
margin-bottom:-1px;
}
#header a
{
color: white;
text-decoration: none;
}
#navigation 
{
width: 1002px;
display: inline-block; 
list-style: none outside none;
background-color: #E5E5E5; 
border-bottom: 2px solid #014b67;
border-top: 2px solid #014b67;
}
ul { 
margin: 0;
padding: 0;
}
#menu {
text-align: center; 
} 
#menu ul { 

list-style: none outside none;
}
#menu li 
{
display: inline;  
} 
#menu li a 
{ 
color: #666;
text-decoration: none; 
font-family: Arial, sans-serif; 
}
#menu li a:hover 
{
padding-left: 50px; 
padding-right: 50px;
padding-bottom: 2px;
background-color: #014B67; 
color: #fff;
}
.BAC.jpg
{
width: 998px;
}
