.cdiv {
  max-width: 80% !important;
}
.centrat {
  text-align: center !important;
  margin: auto;
}
/*.border-r-xs{
  border-right: solid 1px gray;
}
.border-r-sm {
  border-right: solid 1px gray;
}*/
.dfooter {
  font-size: 10px;
  text-align: center;
}
.htitle {
  font-family: aharoni !important;
  text-decoration: none !important;
}
a {
  color: gray !important;
  font-family: georgia !important;
}
.imgcon {
  width: 100%;
  height: 165px;
}
.hoverme:hover  .quick-buy{
	display: block;
}
.modal-header {
  border-bottom: none !important;
}
.modal-t{
  font-size: 30px;
  color: gray;
}
.modal-p{
  color: gray;
  text-align: justify !important;
}
.modal-footer {
  border-top: none !important;
}
.carousel-control {
  opacity: .2 !important;
  text-shadow: none !important;
}
.carusel img {
  height: 350px !important;
}
.quick-buy {
  position: absolute;
  margin-top: 135px;
  background-color: lightgray;
  width: 91%;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  display: none;
}
.tall {
  height: 30px;
}
.tall-c {
  height: 100px;
}
@media(max-width:768px) {
	.border-r-xs {
	border: none;
	}
}
@media(max-width:1007px) {
	.border-r-sm {
	border: none;
	}
}